USE [master]
GO
/****** Object:  Database [Кирилл]    Script Date: 07.02.2026 14:06:48 ******/
CREATE DATABASE [Кирилл]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Кирилл', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Кирилл.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Кирилл_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Кирилл_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Кирилл].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Кирилл]
GO
/****** Object:  Table [dbo].[Application_competency_scores]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_competency_scores](
	[Score_id] [int] NOT NULL,
	[Application_id] [int] NOT NULL,
	[Competency_id] [int] NOT NULL,
	[Scored_by_user_id] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Comment] [nvarchar](200) NOT NULL,
	[Scored_at] [date] NOT NULL,
 CONSTRAINT [PK_Application_competency_scores] PRIMARY KEY CLUSTERED 
(
	[Score_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_stage_history]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_stage_history](
	[History_id] [int] NOT NULL,
	[Application_id] [int] NOT NULL,
	[Stage_id] [int] NOT NULL,
	[Stage_user_id] [int] NOT NULL,
	[Entered_stage_at] [datetime] NOT NULL,
	[Comments] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Application_stage_history] PRIMARY KEY CLUSTERED 
(
	[History_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidate_vacancy_applications]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate_vacancy_applications](
	[Application_id] [int] NOT NULL,
	[Candidate_id] [int] NOT NULL,
	[Vacancy_id] [int] NOT NULL,
	[Source_id] [int] NOT NULL,
	[Application_date] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Candidate_vacancy_applications] PRIMARY KEY CLUSTERED 
(
	[Application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competencies]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competencies](
	[Competency_id] [int] NOT NULL,
	[Competency_name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Competencies] PRIMARY KEY CLUSTERED 
(
	[Competency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Department_id] [int] NOT NULL,
	[Department_name] [nvarchar](60) NOT NULL,
	[Head_user_id] [int] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interview_participants]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interview_participants](
	[Participant_id] [int] NOT NULL,
	[Interview_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Role_in_interview] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_Interview_participants] PRIMARY KEY CLUSTERED 
(
	[Participant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[Interview_id] [int] NOT NULL,
	[Application_id] [int] NOT NULL,
	[Scheduled_datetime] [datetime] NOT NULL,
	[Actual_datetime] [datetime] NULL,
	[Interview_type] [nvarchar](70) NOT NULL,
	[Location_or_link] [nvarchar](100) NOT NULL,
	[Organizer_user_id] [int] NOT NULL,
	[Notes] [nvarchar](100) NOT NULL,
	[Feedback] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Interviews] PRIMARY KEY CLUSTERED 
(
	[Interview_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pipeline_stages]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pipeline_stages](
	[Stage_id] [int] NOT NULL,
	[Stage_name] [nvarchar](70) NOT NULL,
	[Stage_order] [int] NOT NULL,
 CONSTRAINT [PK_Pipeline_stages] PRIMARY KEY CLUSTERED 
(
	[Stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_id] [int] NOT NULL,
	[Role_name] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sources]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sources](
	[Source_id] [int] NOT NULL,
	[Source_name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_Sources] PRIMARY KEY CLUSTERED 
(
	[Source_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_roles]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_roles](
	[ID] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Role_id] [int] NOT NULL,
	[Assigned_at] [datetime] NOT NULL,
 CONSTRAINT [PK_User_roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] NOT NULL,
	[Login] [nvarchar](40) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Full_name] [nvarchar](130) NOT NULL,
	[Created_at] [date] NOT NULL,
	[Is_active] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancies]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancies](
	[Vacancy_id] [int] NOT NULL,
	[Position_title] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
	[Requirements] [nvarchar](150) NOT NULL,
	[Salary_min] [decimal](9, 2) NOT NULL,
	[Salary_max] [decimal](9, 2) NOT NULL,
	[Department_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[Created_at] [date] NOT NULL,
	[Published_at] [date] NOT NULL,
 CONSTRAINT [PK_Vacancies] PRIMARY KEY CLUSTERED 
(
	[Vacancy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancy_publications]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancy_publications](
	[Publication_id] [int] NOT NULL,
	[Vacancy_id] [int] NOT NULL,
	[Platform_name] [nvarchar](150) NOT NULL,
	[Publication_url] [nvarchar](140) NOT NULL,
	[Published_at] [datetime] NOT NULL,
	[Cost] [decimal](9, 2) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Vacancy_publications] PRIMARY KEY CLUSTERED 
(
	[Publication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сandidates]    Script Date: 07.02.2026 14:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сandidates](
	[Сandidate_id] [int] NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](40) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Phone] [nvarchar](14) NOT NULL,
	[Linkedin_url] [nvarchar](70) NOT NULL,
	[Сurrent_position] [nvarchar](70) NOT NULL,
	[Experience_years] [int] NOT NULL,
	[Сreated_at] [date] NOT NULL,
 CONSTRAINT [PK_Сandidates] PRIMARY KEY CLUSTERED 
(
	[Сandidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Application_competency_scores] ([Score_id], [Application_id], [Competency_id], [Scored_by_user_id], [Score], [Comment], [Scored_at]) VALUES (1, 42, 7, 67, 85, N'Хорошее понимание базовых принципов, но есть пробелы в продвинутых темах.', CAST(N'2024-11-21' AS Date))
INSERT [dbo].[Application_competency_scores] ([Score_id], [Application_id], [Competency_id], [Scored_by_user_id], [Score], [Comment], [Scored_at]) VALUES (2, 88, 15, 89, 92, N'Отличные коммуникативные навыки и умение презентовать решения.', CAST(N'2023-07-06' AS Date))
INSERT [dbo].[Application_competency_scores] ([Score_id], [Application_id], [Competency_id], [Scored_by_user_id], [Score], [Comment], [Scored_at]) VALUES (3, 17, 3, 12, 78, N'Решение тестового рабочее, но код требует рефакторинга.', CAST(N'2022-09-21' AS Date))
GO
INSERT [dbo].[Application_stage_history] ([History_id], [Application_id], [Stage_id], [Stage_user_id], [Entered_stage_at], [Comments]) VALUES (1, 42, 7, 23, CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'Первичный скрининг резюме')
INSERT [dbo].[Application_stage_history] ([History_id], [Application_id], [Stage_id], [Stage_user_id], [Entered_stage_at], [Comments]) VALUES (2, 88, 15, 67, CAST(N'2023-06-30T00:00:00.000' AS DateTime), N'Согласование с заказчиком')
INSERT [dbo].[Application_stage_history] ([History_id], [Application_id], [Stage_id], [Stage_user_id], [Entered_stage_at], [Comments]) VALUES (3, 17, 3, 89, CAST(N'2022-09-14T00:00:00.000' AS DateTime), N'Тестовое задание отправлено кандидату')
GO
INSERT [dbo].[Candidate_vacancy_applications] ([Application_id], [Candidate_id], [Vacancy_id], [Source_id], [Application_date], [Status]) VALUES (1, 45, 23, 12, CAST(N'2024-03-15T00:00:00.000' AS DateTime), N'NEW')
INSERT [dbo].[Candidate_vacancy_applications] ([Application_id], [Candidate_id], [Vacancy_id], [Source_id], [Application_date], [Status]) VALUES (2, 12, 67, 5, CAST(N'2023-11-22T00:00:00.000' AS DateTime), N'IN_REVIEW')
INSERT [dbo].[Candidate_vacancy_applications] ([Application_id], [Candidate_id], [Vacancy_id], [Source_id], [Application_date], [Status]) VALUES (3, 78, 45, 18, CAST(N'2024-06-10T00:00:00.000' AS DateTime), N'REJECTED')
GO
INSERT [dbo].[Competencies] ([Competency_id], [Competency_name], [Description]) VALUES (1, N'Java Development', N'Знание Java Core, Spring Framework, Hibernate, многопоточности')
INSERT [dbo].[Competencies] ([Competency_id], [Competency_name], [Description]) VALUES (2, N'Python', N'Опыт работы с Django/Flask, pandas, numpy, асинхронным программированием')
INSERT [dbo].[Competencies] ([Competency_id], [Competency_name], [Description]) VALUES (3, N'SQL & Databases', N'Написание сложных запросов, оптимизация, работа с PostgreSQL/MySQL')
GO
INSERT [dbo].[Departments] ([Department_id], [Department_name], [Head_user_id]) VALUES (1, N'IT Development', 45)
INSERT [dbo].[Departments] ([Department_id], [Department_name], [Head_user_id]) VALUES (2, N'HR Department', 12)
INSERT [dbo].[Departments] ([Department_id], [Department_name], [Head_user_id]) VALUES (3, N'Finance', 78)
GO
INSERT [dbo].[Interview_participants] ([Participant_id], [Interview_id], [User_id], [Role_in_interview]) VALUES (1, 42, 23, N'Технический интервьюер')
INSERT [dbo].[Interview_participants] ([Participant_id], [Interview_id], [User_id], [Role_in_interview]) VALUES (2, 88, 67, N'Рекрутер')
INSERT [dbo].[Interview_participants] ([Participant_id], [Interview_id], [User_id], [Role_in_interview]) VALUES (3, 17, 89, N'Менеджер по найму')
GO
INSERT [dbo].[Interviews] ([Interview_id], [Application_id], [Scheduled_datetime], [Actual_datetime], [Interview_type], [Location_or_link], [Organizer_user_id], [Notes], [Feedback]) VALUES (1, 42, CAST(N'2024-11-20T14:00:00.000' AS DateTime), CAST(N'2024-11-20T14:05:00.000' AS DateTime), N'Техническое интервью', N'Zoom: https://zoom.us/j/123456789', 23, N'Кандидат опоздал на 5 минут.', N'Хорошие технические знания, но слабовата коммуникация.')
INSERT [dbo].[Interviews] ([Interview_id], [Application_id], [Scheduled_datetime], [Actual_datetime], [Interview_type], [Location_or_link], [Organizer_user_id], [Notes], [Feedback]) VALUES (2, 88, CAST(N'2023-07-05T10:30:00.000' AS DateTime), CAST(N'2023-07-05T10:30:00.000' AS DateTime), N'Собеседование с HR', N'Офис, ул. Ленина, 15, каб. 301', 67, N'Все прошло по плану.', N'Впечатление положительное, переходит на следующий этап.')
INSERT [dbo].[Interviews] ([Interview_id], [Application_id], [Scheduled_datetime], [Actual_datetime], [Interview_type], [Location_or_link], [Organizer_user_id], [Notes], [Feedback]) VALUES (3, 17, CAST(N'2022-09-20T16:00:00.000' AS DateTime), CAST(N'2022-09-20T16:15:00.000' AS DateTime), N'Разбор тестового задания', N'Google Meet: https://meet.google.com/abc-defg-hij', 89, N'Кандидат подготовился хорошо.', N'Отличное решение задачи, есть вопросы по архитектуре.')
GO
INSERT [dbo].[Pipeline_stages] ([Stage_id], [Stage_name], [Stage_order]) VALUES (1, N'Новая заявка', 1)
INSERT [dbo].[Pipeline_stages] ([Stage_id], [Stage_name], [Stage_order]) VALUES (2, N'Проверка контактов', 3)
INSERT [dbo].[Pipeline_stages] ([Stage_id], [Stage_name], [Stage_order]) VALUES (3, N'Скрининг резюме', 2)
GO
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (1, N'Кандидат')
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (2, N'Рекрутер')
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (3, N'Старший рекрутер')
GO
INSERT [dbo].[Sources] ([Source_id], [Source_name]) VALUES (1, N'hh.ru')
INSERT [dbo].[Sources] ([Source_id], [Source_name]) VALUES (2, N'LinkedIn')
INSERT [dbo].[Sources] ([Source_id], [Source_name]) VALUES (3, N'Рекомендация сотрудника')
GO
INSERT [dbo].[User_roles] ([ID], [User_id], [Role_id], [Assigned_at]) VALUES (1, 45, 7, CAST(N'2023-11-15T09:23:45.000' AS DateTime))
INSERT [dbo].[User_roles] ([ID], [User_id], [Role_id], [Assigned_at]) VALUES (2, 12, 3, CAST(N'2022-06-22T14:10:30.000' AS DateTime))
INSERT [dbo].[User_roles] ([ID], [User_id], [Role_id], [Assigned_at]) VALUES (3, 78, 15, CAST(N'2024-01-10T11:45:15.000' AS DateTime))
GO
INSERT [dbo].[Users] ([User_id], [Login], [Password], [Full_name], [Created_at], [Is_active]) VALUES (1, N'admin@techcorp.ru', N'admin123', N'Иванов Иван Иванович', CAST(N'2020-03-15' AS Date), N'true')
INSERT [dbo].[Users] ([User_id], [Login], [Password], [Full_name], [Created_at], [Is_active]) VALUES (2, N'hr.anna@techcorp.ru', N'hrpass456', N'Смирнова Анна Петровна', CAST(N'2021-07-22' AS Date), N'true')
INSERT [dbo].[Users] ([User_id], [Login], [Password], [Full_name], [Created_at], [Is_active]) VALUES (3, N'recruiter.m@company.com', N'recr789', N'Петров Михаил Сергеевич', CAST(N'2022-01-10' AS Date), N'true')
GO
INSERT [dbo].[Vacancies] ([Vacancy_id], [Position_title], [Description], [Requirements], [Salary_min], [Salary_max], [Department_id], [User_id], [status], [Created_at], [Published_at]) VALUES (1, N'Senior Java Developer', N'Разработка высоконагруженных backend-сервисов для fintech-платформы', N'Java 11+, Spring Boot, Hibernate, PostgreSQL, Docker, Kubernetes', CAST(300000.00 AS Decimal(9, 2)), CAST(450000.00 AS Decimal(9, 2)), 45, 12, N'OPEN', CAST(N'2024-01-15' AS Date), CAST(N'2024-01-20' AS Date))
INSERT [dbo].[Vacancies] ([Vacancy_id], [Position_title], [Description], [Requirements], [Salary_min], [Salary_max], [Department_id], [User_id], [status], [Created_at], [Published_at]) VALUES (2, N'Frontend Team Lead', N'Руководство командой frontend-разработчиков, архитектура SPA', N'TypeScript, React 18+, Redux, Webpack, Team leadership 3+ years', CAST(350000.00 AS Decimal(9, 2)), CAST(500000.00 AS Decimal(9, 2)), 21, 78, N'OPEN', CAST(N'2023-11-22' AS Date), CAST(N'2023-11-25' AS Date))
INSERT [dbo].[Vacancies] ([Vacancy_id], [Position_title], [Description], [Requirements], [Salary_min], [Salary_max], [Department_id], [User_id], [status], [Created_at], [Published_at]) VALUES (3, N'DevOps Engineer', N'Настройка CI/CD, мониторинг инфраструктуры, облачные сервисы', N'AWS/GCP, Kubernetes, Terraform, Prometheus, Grafana, Python', CAST(250000.00 AS Decimal(9, 2)), CAST(400000.00 AS Decimal(9, 2)), 26, 23, N'ON_HOLD', CAST(N'2024-02-10' AS Date), CAST(N'2024-02-15' AS Date))
GO
INSERT [dbo].[Vacancy_publications] ([Publication_id], [Vacancy_id], [Platform_name], [Publication_url], [Published_at], [Cost], [Status]) VALUES (1, 42, N'HeadHunter', N'https://hh.ru/vacancy/789012', CAST(N'2023-07-14T00:00:00.000' AS DateTime), CAST(1500.00 AS Decimal(9, 2)), N'active')
INSERT [dbo].[Vacancy_publications] ([Publication_id], [Vacancy_id], [Platform_name], [Publication_url], [Published_at], [Cost], [Status]) VALUES (2, 17, N'Zarplata.ru', N'https://zarplata.ru/vacancy/34567', CAST(N'2024-11-05T00:00:00.000' AS DateTime), CAST(1200.00 AS Decimal(9, 2)), N'closed')
INSERT [dbo].[Vacancy_publications] ([Publication_id], [Vacancy_id], [Platform_name], [Publication_url], [Published_at], [Cost], [Status]) VALUES (3, 88, N'Rabota.ru', N'https://rabota.ru/vacancy/12345', CAST(N'2022-03-22T00:00:00.000' AS DateTime), CAST(900.00 AS Decimal(9, 2)), N'active')
GO
INSERT [dbo].[Сandidates] ([Сandidate_id], [First_name], [Last_name], [Email], [Phone], [Linkedin_url], [Сurrent_position], [Experience_years], [Сreated_at]) VALUES (1, N'Анна', N'Смирнова', N'anna.smirnova@mail.ru', N'+79161234567', N'linkedin.com/in/annasmirnova', N'Java Developer', 3, CAST(N'2023-01-15' AS Date))
INSERT [dbo].[Сandidates] ([Сandidate_id], [First_name], [Last_name], [Email], [Phone], [Linkedin_url], [Сurrent_position], [Experience_years], [Сreated_at]) VALUES (2, N'Дмитрий', N'Петров', N'dmitry.petrov@gmail.com', N'+79162345678', N'linkedin.com/in/dmitrypetrov', N'Frontend Developer', 5, CAST(N'2022-06-22' AS Date))
INSERT [dbo].[Сandidates] ([Сandidate_id], [First_name], [Last_name], [Email], [Phone], [Linkedin_url], [Сurrent_position], [Experience_years], [Сreated_at]) VALUES (3, N'Екатерина', N'Иванова', N'ekaterina.ivanova@yandex.ru', N'+79163456789', N'linkedin.com/in/ekaterinaivanova', N'UX Designer', 4, CAST(N'2023-03-10' AS Date))
GO
ALTER TABLE [dbo].[Application_competency_scores]  WITH CHECK ADD  CONSTRAINT [FK_Application_competency_scores_Candidate_vacancy_applications] FOREIGN KEY([Application_id])
REFERENCES [dbo].[Candidate_vacancy_applications] ([Application_id])
GO
ALTER TABLE [dbo].[Application_competency_scores] CHECK CONSTRAINT [FK_Application_competency_scores_Candidate_vacancy_applications]
GO
ALTER TABLE [dbo].[Application_competency_scores]  WITH CHECK ADD  CONSTRAINT [FK_Application_competency_scores_Competencies] FOREIGN KEY([Competency_id])
REFERENCES [dbo].[Competencies] ([Competency_id])
GO
ALTER TABLE [dbo].[Application_competency_scores] CHECK CONSTRAINT [FK_Application_competency_scores_Competencies]
GO
ALTER TABLE [dbo].[Application_competency_scores]  WITH CHECK ADD  CONSTRAINT [FK_Application_competency_scores_Users] FOREIGN KEY([Scored_by_user_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Application_competency_scores] CHECK CONSTRAINT [FK_Application_competency_scores_Users]
GO
ALTER TABLE [dbo].[Application_stage_history]  WITH CHECK ADD  CONSTRAINT [FK_Application_stage_history_Candidate_vacancy_applications] FOREIGN KEY([Application_id])
REFERENCES [dbo].[Candidate_vacancy_applications] ([Application_id])
GO
ALTER TABLE [dbo].[Application_stage_history] CHECK CONSTRAINT [FK_Application_stage_history_Candidate_vacancy_applications]
GO
ALTER TABLE [dbo].[Application_stage_history]  WITH CHECK ADD  CONSTRAINT [FK_Application_stage_history_Pipeline_stages] FOREIGN KEY([Stage_id])
REFERENCES [dbo].[Pipeline_stages] ([Stage_id])
GO
ALTER TABLE [dbo].[Application_stage_history] CHECK CONSTRAINT [FK_Application_stage_history_Pipeline_stages]
GO
ALTER TABLE [dbo].[Application_stage_history]  WITH CHECK ADD  CONSTRAINT [FK_Application_stage_history_Users] FOREIGN KEY([Stage_user_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Application_stage_history] CHECK CONSTRAINT [FK_Application_stage_history_Users]
GO
ALTER TABLE [dbo].[Candidate_vacancy_applications]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_vacancy_applications_Sources] FOREIGN KEY([Source_id])
REFERENCES [dbo].[Sources] ([Source_id])
GO
ALTER TABLE [dbo].[Candidate_vacancy_applications] CHECK CONSTRAINT [FK_Candidate_vacancy_applications_Sources]
GO
ALTER TABLE [dbo].[Candidate_vacancy_applications]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_vacancy_applications_Vacancies] FOREIGN KEY([Vacancy_id])
REFERENCES [dbo].[Vacancies] ([Vacancy_id])
GO
ALTER TABLE [dbo].[Candidate_vacancy_applications] CHECK CONSTRAINT [FK_Candidate_vacancy_applications_Vacancies]
GO
ALTER TABLE [dbo].[Candidate_vacancy_applications]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_vacancy_applications_Сandidates] FOREIGN KEY([Candidate_id])
REFERENCES [dbo].[Сandidates] ([Сandidate_id])
GO
ALTER TABLE [dbo].[Candidate_vacancy_applications] CHECK CONSTRAINT [FK_Candidate_vacancy_applications_Сandidates]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Users] FOREIGN KEY([Head_user_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Users]
GO
ALTER TABLE [dbo].[Interview_participants]  WITH CHECK ADD  CONSTRAINT [FK_Interview_participants_Interviews] FOREIGN KEY([Interview_id])
REFERENCES [dbo].[Interviews] ([Interview_id])
GO
ALTER TABLE [dbo].[Interview_participants] CHECK CONSTRAINT [FK_Interview_participants_Interviews]
GO
ALTER TABLE [dbo].[Interview_participants]  WITH CHECK ADD  CONSTRAINT [FK_Interview_participants_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Interview_participants] CHECK CONSTRAINT [FK_Interview_participants_Users]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Application_stage_history] FOREIGN KEY([Application_id])
REFERENCES [dbo].[Application_stage_history] ([History_id])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Application_stage_history]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Users] FOREIGN KEY([Organizer_user_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Users]
GO
ALTER TABLE [dbo].[User_roles]  WITH CHECK ADD  CONSTRAINT [FK_User_roles_Roles] FOREIGN KEY([Role_id])
REFERENCES [dbo].[Roles] ([Role_id])
GO
ALTER TABLE [dbo].[User_roles] CHECK CONSTRAINT [FK_User_roles_Roles]
GO
ALTER TABLE [dbo].[User_roles]  WITH CHECK ADD  CONSTRAINT [FK_User_roles_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[User_roles] CHECK CONSTRAINT [FK_User_roles_Users]
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD  CONSTRAINT [FK_Vacancies_Departments] FOREIGN KEY([Department_id])
REFERENCES [dbo].[Departments] ([Department_id])
GO
ALTER TABLE [dbo].[Vacancies] CHECK CONSTRAINT [FK_Vacancies_Departments]
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD  CONSTRAINT [FK_Vacancies_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Vacancies] CHECK CONSTRAINT [FK_Vacancies_Users]
GO
ALTER TABLE [dbo].[Vacancy_publications]  WITH CHECK ADD  CONSTRAINT [FK_Vacancy_publications_Vacancies] FOREIGN KEY([Vacancy_id])
REFERENCES [dbo].[Vacancies] ([Vacancy_id])
GO
ALTER TABLE [dbo].[Vacancy_publications] CHECK CONSTRAINT [FK_Vacancy_publications_Vacancies]
GO
USE [master]
GO
